nav.navbar.navbar-expand-lg.navbar-light.bg-white.py-3.border-bottom
    .container.px-5
        a.navbar-brand(href='index_gl.html')
            span.fw-bold.text-dark Fiz Rey Armesto
        button.navbar-toggler.border-0(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0.fw-semibold
                li.nav-item
                    a.nav-link.text-dark.px-3(href='#about') Acerca de
                li.nav-item
                    a.nav-link.text-dark.px-3(href='#experience') Experiencia
                li.nav-item
                    a.nav-link.text-dark.px-3(href='#projects') Proxectos
                li.nav-item
                    a.nav-link.text-dark.px-3(href='#skills') Habilidades
                li.nav-item
                    a.nav-link.text-dark.px-3(href='#contact') Contacto
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle.text-dark.px-3(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                        i.bi.bi-globe
                    ul.dropdown-menu.border-0.shadow
                        li
                            a.dropdown-item(href='index.html') 
                                img.me-2(src='assets/UK-flag.png', alt='English', width='16', height='16')
                                | English
                        li
                            a.dropdown-item(href='index_es.html')
                                img.me-2(src='assets/Spanish-flag.png', alt='Spanish', width='16', height='16')
                                | Español
                        li
                            a.dropdown-item(href='index_gl.html')
                                img.me-2(src='assets/GL-flag.png', alt='Galician', width='16', height='16')
                                | Galego
