nav.navbar.navbar-expand-lg.navbar-light.bg-white.py-3
    .container.px-5
        a.navbar-brand(href='index_es.html')
            span.fw-bolder.text-primary Fiz Rey Armesto
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0.small.fw-bolder
                li.nav-item
                    a.nav-link(href='index_es.html') Inicio
                li.nav-item
                    a.nav-link(href='resume_es.html') CV
                li.nav-item
                    a.nav-link(href='projects_es.html') Proyectos
                li.nav-item
                    a.nav-link(href='mailto:fizreyarmesto@gmail.com') Contacto
                li.nav-item
                    a.nav-link(href='index.html')
                        img(src='assets/UK-flag.png', alt='UK Flag', width='20', height='20')
                li.nav-item
                    a.nav-link(href='index_gl.html')
                        img(src='assets/GL-flag.png', alt='Galician Flag', width='18', height='18')