doctype html
html(lang='en')

    head 

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Fiz Rey Armesto')

        title Projects - Fiz Rey Armesto

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/Ficon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-4.fw-bold.mb-4 Projects
                        p.lead.text-muted A collection of my work in VR, game development, and software engineering.
                    .row.g-4.justify-content-center

                        .col-lg-10

                            // Project Card 1
                            a(href='https://ficho12.itch.io/o-candil',  style='text-decoration: none; color: inherit;')
                                .card.border-0.mb-4
                                    .card-body.p-4
                                        .row.align-items-center
                                            .col-md-8
                                                h3.fw-bold.mb-3 VRSurvival
                                                p.text-muted.mb-0 Development of a VR multiplayer videogame using Unreal Engine 5 within the VRExpansionPlugin framework.
                                            .col-md-4.text-end
                                                img.img-fluid.rounded(src='assets/Shot300x400.png', alt='VRSurvival', style='max-height: 120px; object-fit: cover;')
                                                
                            // Project Card 2 
                            a(href='https://ficho12.itch.io/la-noche',  style='text-decoration: none; color: inherit;')
                                .card.border-0.mb-4
                                    .card-body.p-4
                                        .row.align-items-center
                                            .col-md-8
                                                h3.fw-bold.mb-3 Noche - Indie Spain Jam 2023
                                                p.text-muted.mb-0 Lead Programmer, Unreal Engine 5
                                            .col-md-4.text-end
                                                img.img-fluid.rounded(src='assets/noche.jpg', alt='Noche', style='max-height: 120px; object-fit: cover;')
                                                
                            // Project Card 3
                            .card.border-0.mb-4
                                .card-body.p-4
                                    .row.align-items-center
                                        .col-md-8
                                            h3.fw-bold.mb-3 YABS - Ludum Dare 55
                                            p.text-muted.mb-3 Game made in a weekend with Unity for the Ludum Dare Jam.
                                            .d-flex.gap-3
                                                button#playButton.btn.btn-primary(data-bs-toggle='modal', data-bs-target='#playModal') Play Game
                                                a.btn.btn-outline-dark(href='https://ldjam.com/events/ludum-dare/55/yabs', target='_blank') View on Ludum Dare
                                        .col-md-4.text-end
                                            img.img-fluid.rounded(src='assets/yabs.jpg', alt='YABS', style='max-height: 120px; object-fit: cover;')

                            // Modal
                            #playModal.modal.fade(tabindex='-1', aria-labelledby='playModalLabel', aria-hidden='true', role='dialog')
                                .modal-dialog.modal-dialog-centered.modal-xl
                                    .modal-content.border-0
                                        .modal-header.border-0.d-flex.align-items-center.justify-content-between.p-4
                                            h3.fw-bold.mb-0 YABS
                                            .d-flex.gap-2
                                                button#fullscreenButton.btn.btn-outline-dark 
                                                    i.bi.bi-arrows-fullscreen
                                                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                                        .modal-body.p-4
                                            .embed-responsive.embed-responsive-16by9.custom-embed
                                                iframe.embed-responsive-item(src='', id='iframe-yabs', frameborder="0" 
                                                allow="autoplay; fullscreen *; geolocation; microphone; camera; midi; xr-spatial-tracking; gamepad; gyroscope; accelerometer; cross-origin-isolated" scrolling="no"
                                                style='width: 100%; height: 500px; border: none; border-radius: 0.5rem;')
                                        script.
                                            // Define the injectScript function in the global scope
                                            function injectScript(iframe, scriptContent) {
                                                var script = iframe.contentWindow.document.createElement('script');
                                                script.type = 'text/javascript';
                                                script.text = scriptContent;
                                                iframe.contentWindow.document.body.appendChild(script);
                                            }

                                            document.getElementById('fullscreenButton').addEventListener('click', function () {
                                                var iframe = document.getElementById('iframe-yabs');
                                                iframe.contentWindow.postMessage({ command: 'requestFullscreen' }, '*');
                                            });

                                            window.addEventListener('message', function (event) {
                                                if (event.data.command === 'fullscreenSuccess') {
                                                    console.log('WebGL canvas is now fullscreen');
                                                } else if (event.data.command === 'fullscreenError') {
                                                    console.error('Failed to go fullscreen:', event.data.error);
                                                }
                                            });

                                            document.getElementById('iframe-yabs').addEventListener('load', function() {
                                                var iframe = document.getElementById('iframe-yabs');
                                                var scriptContent = `
                                                    (function() {
                                                        function requestFullscreen(canvas) {
                                                            if (canvas.requestFullscreen) {
                                                                canvas.requestFullscreen();
                                                            } else if (canvas.mozRequestFullScreen) {
                                                                canvas.mozRequestFullScreen();
                                                            } else if (canvas.webkitRequestFullscreen) {
                                                                canvas.webkitRequestFullscreen();
                                                            } else if (canvas.msRequestFullscreen) {
                                                                canvas.msRequestFullscreen();
                                                            }
                                                        }

                                                        // Listen for fullscreen change events
                                                        function onFullscreenChange() {
                                                            if (!document.fullscreenElement &&
                                                                !document.mozFullScreenElement &&
                                                                !document.webkitFullscreenElement &&
                                                                !document.msFullscreenElement) {
                                                                // Fullscreen exited
                                                                window.parent.postMessage({ command: 'fullscreenExited' }, '*');
                                                            }
                                                        }

                                                        window.addEventListener('message', function(event) {
                                                            if (event.data.command === 'requestFullscreen') {
                                                                var canvas = document.querySelector('canvas');
                                                                try {
                                                                    requestFullscreen(canvas);
                                                                    event.source.postMessage({ command: 'fullscreenSuccess' }, event.origin);
                                                                } catch (error) {
                                                                    event.source.postMessage({ command: 'fullscreenError', error: error.message }, event.origin);
                                                                }
                                                            }
                                                        });

                                                        // Add fullscreen change event listeners
                                                        document.addEventListener('fullscreenchange', onFullscreenChange);
                                                        document.addEventListener('webkitfullscreenchange', onFullscreenChange);
                                                        document.addEventListener('mozfullscreenchange', onFullscreenChange);
                                                        document.addEventListener('MSFullscreenChange', onFullscreenChange);
                                                    })();
                                                `;
                                                injectScript(iframe, scriptContent);
                                            });

                                            // Event listener for exiting fullscreen
                                            window.addEventListener('message', function (event) {
                                                if (event.data.command === 'fullscreenExited') {
                                                    console.log('Fullscreen exited');
                                                    // Do nothing to prevent reload
                                                }
                                            });

                                            // Event listener to stop iframe on modal close
                                            document.querySelector('.btn-close').addEventListener('click', function() {
                                                var iframe = document.getElementById('iframe-yabs');
                                                iframe.src = '';
                                            });

                                            // Event listener to reset iframe src when modal is opened
                                            document.getElementById('playModal').addEventListener('show.bs.modal', function() {
                                                var iframe = document.getElementById('iframe-yabs');
                                                iframe.src = 'assets/yabs/index.html';
                                            });

                            // Project Card 4
                            a(href='https://github.com/ficho12/UE5-Custom-Editor-Tools',  style='text-decoration: none; color: inherit;')
                                .card.border-0.mb-4
                                    .card-body.p-4
                                        .row.align-items-center
                                            .col-md-8
                                                h3.fw-bold.mb-3 UE5 Custom Editor Tools Course
                                                p.text-muted.mb-0 Source code for the tools.
                                            .col-md-4.text-end
                                                img.img-fluid.rounded(src='assets/CustomEditor.png', alt='Custom Editor', style='max-height: 120px; object-fit: cover;')
                                                
                            // Project Card 5
                            a(href='https://github.com/ficho12/EndlessRunner',  style='text-decoration: none; color: inherit;')
                                .card.border-0.mb-4
                                    .card-body.p-4
                                        .row.align-items-center
                                            .col-md-8
                                                h3.fw-bold.mb-3 Endless Runner
                                                p.text-muted.mb-0 Game made with Unity as an assignment for an interview
                                            .col-md-4.text-end
                                                img.img-fluid.rounded(src='assets/EndlessRunner.png', alt='Endless Runner', style='max-height: 120px; object-fit: cover;')

            // Call to action section
            section.bg-dark.text-white.py-5
                .container.px-5.my-5
                    .text-center
                        h2.display-5.fw-bold.mb-4 Let's build something together
                        p.lead.mb-4 Interested in collaborating? Let's discuss your next project.
                        a.btn.btn-light.btn-lg.px-4.py-3(href='mailto:fizreyarmesto@gmail.com') Contact me

        // Footer
        include includes/footer.pug

        include includes/scripts.pug

        script(src='js/client.bundle.js' type="module")

