doctype html
html(lang='en')

    head 

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Fiz Rey Armesto')

        title Projects - Fiz Rey Armesto

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/Ficon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Projects Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline Projects
                    .row.gx-5.justify-content-center

                        .col-lg-11.col-xl-9.col-xxl-8

                            // Project Card 1
                            a(href='https://ficho12.itch.io/o-candil',  style='text-decoration: none; color: black;')
                                .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                    .card-body.p-0
                                        .d-flex.align-items-center
                                            .p-5 
                                                h2.fw-bolder VRSurvival
                                                p Development of a VR multiplayer videogame using Unreal Engine 5 within the VRExpansionPlugin framework.
                                            img.img-fluid(src='assets/Shot300x400.png', alt='...' )
                            // Project Card 2 
                            a(href='https://ficho12.itch.io/la-noche',  style='text-decoration: none; color: black;')
                                .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                    .card-body.p-0
                                        .d-flex.align-items-center
                                            .p-5
                                                h2.fw-bolder Noche - Indie Spain Jam 2023
                                                p Lead Programmer, Unreal Engine 5
                                            img.img-fluid(src='assets/noche.jpg', alt='...')
                            // Project Card 3
                            a(href='https://ldjam.com/events/ludum-dare/55/yabs', style='text-decoration: none; color: black;')
                                .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                    .card-body.p-0
                                        .d-flex.align-items-center
                                            .p-5.flex-grow-1
                                                .d-flex.flex-column
                                                    h2.fw-bolder YABS - Ludum Dare 55
                                                    p.mb-4 Game made in a weekend with Unity for the Ludum Dare Jam.
                                                    .d-flex.justify-content-center.mt-4
                                                        a#playButton.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(data-bs-toggle='modal', data-bs-target='#playModal', style='text-decoration: none;') Play
                                            img.img-fluid(src='assets/yabs.jpg', alt='...')

                                    // Modal
                                    #playModal.modal.fade(tabindex='-1', aria-labelledby='playModalLabel', aria-hidden='true', role='dialog')
                                        .modal-dialog.modal-dialog-centered
                                            .modal-content
                                                .modal-header
                                                    h5.modal-title#playModalLabel YABS - Play
                                                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                                                .modal-body
                                                    .embed-responsive.embed-responsive-16by9.custom-embed
                                                        iframe.embed-responsive-item(src='assets/yabs/index.html', id='iframe-yabs', frameborder="0" 
                                                        allow="autoplay; fullscreen *; geolocation; microphone; camera; midi; xr-spatial-tracking; gamepad; gyroscope; accelerometer; cross-origin-isolated" scrolling="no")
                                                .modal-footer
                                                    button.btn.btn-secondary(data-bs-dismiss='modal') Close
                                                    script.
                                                        // Function to inject script into the iframe
                                                        function injectScript(iframe, scriptContent) {
                                                            var script = iframe.contentWindow.document.createElement('script');
                                                            script.type = 'text/javascript';
                                                            script.text = scriptContent;
                                                            iframe.contentWindow.document.body.appendChild(script);
                                                        }

                                                        document.getElementById('playButton').addEventListener('click', function () {
                                                            var iframe = document.getElementById('iframe-yabs');
                                                            iframe.contentWindow.postMessage({ command: 'requestFullscreen' }, '*');
                                                        });

                                                        window.addEventListener('message', function (event) {
                                                            if (event.data.command === 'fullscreenSuccess') {
                                                                console.log('WebGL canvas is now fullscreen');
                                                            } else if (event.data.command === 'fullscreenError') {
                                                                console.error('Failed to go fullscreen:', event.data.error);
                                                            }
                                                        });

                                                        document.getElementById('iframe-yabs').addEventListener('load', function() {
                                                            var iframe = document.getElementById('iframe-yabs');
                                                            var scriptContent = `
                                                                (function() {
                                                                    function requestFullscreen(canvas) {
                                                                        if (canvas.requestFullscreen) {
                                                                            canvas.requestFullscreen();
                                                                        } else if (canvas.mozRequestFullScreen) {
                                                                            canvas.mozRequestFullScreen();
                                                                        } else if (canvas.webkitRequestFullscreen) {
                                                                            canvas.webkitRequestFullscreen();
                                                                        } else if (canvas.msRequestFullscreen) {
                                                                            canvas.msRequestFullscreen();
                                                                        }
                                                                    }

                                                                    // Listen for fullscreen change events
                                                                    function onFullscreenChange() {
                                                                        if (!document.fullscreenElement &&
                                                                            !document.mozFullScreenElement &&
                                                                            !document.webkitFullscreenElement &&
                                                                            !document.msFullscreenElement) {
                                                                            // Fullscreen exited
                                                                            window.parent.postMessage({ command: 'fullscreenExited' }, '*');
                                                                        }
                                                                    }

                                                                    window.addEventListener('message', function(event) {
                                                                        if (event.data.command === 'requestFullscreen') {
                                                                            var canvas = document.querySelector('canvas');
                                                                            try {
                                                                                requestFullscreen(canvas);
                                                                                event.source.postMessage({ command: 'fullscreenSuccess' }, event.origin);
                                                                            } catch (error) {
                                                                                event.source.postMessage({ command: 'fullscreenError', error: error.message }, event.origin);
                                                                            }
                                                                        }
                                                                    });

                                                                    // Add fullscreen change event listeners
                                                                    document.addEventListener('fullscreenchange', onFullscreenChange);
                                                                    document.addEventListener('webkitfullscreenchange', onFullscreenChange);
                                                                    document.addEventListener('mozfullscreenchange', onFullscreenChange);
                                                                    document.addEventListener('MSFullscreenChange', onFullscreenChange);
                                                                })();
                                                            `;
                                                            injectScript(iframe, scriptContent);
                                                        });

                                                        // Event listener for exiting fullscreen
                                                        window.addEventListener('message', function (event) {
                                                            if (event.data.command === 'fullscreenExited') {
                                                                var iframe = document.getElementById('iframe-yabs');
                                                                iframe.contentWindow.location.reload();
                                                            }
                                                        });




                            // Project Card 4
                            a(href='https://github.com/ficho12/UE5-Custom-Editor-Tools',  style='text-decoration: none; color: black;')
                                .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                    .card-body.p-0
                                        .d-flex.align-items-center
                                            .p-5
                                                h2.fw-bolder UE5 Custom Editor Tools Course
                                                p Source code for the tools.
                                            img.image-fluid(src='assets/CustomEditor.png', alt='...')
                            // Project Card 5
                            a(href='https://github.com/ficho12/EndlessRunner',  style='text-decoration: none; color: black;')
                                .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                    .card-body.p-0
                                        .d-flex.align-items-center
                                            .p-5
                                                h2.fw-bolder Endless Runner
                                                p Game made with Unity as an asigment for an interview
                                            img.image-fluid(src='assets/EndlessRunner.png', alt='...')

            // Call to action section
            section.py-5.bg-gradient-primary-to-secondary.text-white
                .container.px-5.my-5
                    .text-center
                        h2.display-4.fw-bolder.mb-4 Let's build something together
                        a.btn.btn-outline-light.btn-lg.px-5.py-3.fs-6.fw-bolder(href='mailto:fizreyarmesto@gmail.com') Contact me

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
