doctype html
html(lang='gl')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Fiz Rey Armesto')

        title Currículum Vitae - Fiz Rey Armesto

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/Ficon.ico')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar_gl.pug

            // Page Content
            .container.px-5.my-5
                .text-center.mb-5
                    h1.display-5.fw-bolder.mb-0
                        span.text-gradient.d-inline Currículo
                .row.gx-5.justify-content-center

                    .col-lg-11.col-xl-9.col-xxl-8

                        // Experience Section
                        section
                            .d-flex.align-items-center.justify-content-between.mb-4
                                h2.text-primary.fw-bolder.mb-0 Experiencia
                                a.btn.btn-primary.px-4.py-3(href='assets/CV_FIZREYARMESTO_GL.pdf')
                                    .d-inline-block.bi.bi-download.me-2
                                    | Descargar CV

                            // Experience Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 Feb  - Apr 2023
                                                .small.fw-bolder Desenvolvedor Unity (Prácticas)
                                                .small.text-muted ARSOFT
                                                .small.text-muted Salamanca, Spain
                                        .col-lg-8
                                            div Desenvolvín simulacións de operación nativas para Meta Quest 2 dende cero co framework UltimateXR para Unity.

                            // Experience Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 Out 2023 - Presente
                                                .small.fw-bolder Programador Junior
                                                .small.text-muted ARSOFT
                                                .small.text-muted Salamanca, España
                                        .col-lg-8
                                            div Creación dun simulador de conducción ferroviaria.

                        // Education Section
                        section
                            h2.text-secondary.fw-bolder.mb-4 Educación
                            
                            // Education Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-secondary.fw-bolder.mb-2 2017 - 2023
                                                .mb-2
                                                    .small.fw-bolder Enxeñería Informática
                                                    .small.text-muted Universidade de Salamanca
                                        .col-lg-8
                                            div TFG: Desenvolvemento dun videoxogo multixogador de RV usando Unreal Engine 5.

                        // Certificates Section
                        section
                            h2.text-primary.fw-bolder.mb-4 Certificados
                            
                            // Certificate Card 1
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 Aug 2020
                                                .mb-2
                                                    .small.fw-bolder  C1 Advanced 
                                                    .small.text-muted Puntuación 187
                                        .col-lg-8
                                            div Certificate of Advanced English (CAE) otorgado por Cambridge English Language Assessment, parte da Universidade de Cambridge.
                            // Certificate Card 2
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                     .row.align-items-center.gx-5
                                        .col.text-center.text-lg-start.mb-4.mb-lg-0
                                            .bg-light.p-4.rounded-4
                                                .text-primary.fw-bolder.mb-2 Sept 2017
                                                .mb-2
                                                    .small.fw-bolder  Programación en C 
                                                    .small.text-muted Nivel básico
                                        .col-lg-8
                                            div Certificado de finalización do curso de Programación en C (Nivel básico) (6ª Edición) otorgado pola Universidade de Salamanca.
                        // Divider
                        .pb-5

                        // Skills Section
                        section
                            // Skillset Card
                            .card.shadow.border-0.rounded-4.mb-5
                                .card-body.p-5
                                    // Professional skills list
                                    .mb-5
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-tools
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Habilidades Profesionais
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Unreal Engine
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Unity
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Git
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 SQL / NoSQL
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Linux (deb)
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Eclipse / Visual Studio
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Scrum / Jira
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Photoshop / Lightroom
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 RealityCapture
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Firebase
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 UE Blueprints
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 VR
                                    
                                    // Languages list
                                    .mb-0
                                        .d-flex.align-items-center.mb-4
                                            .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                                                i.bi.bi-code-slash
                                            h3.fw-bolder.mb-0
                                                span.text-gradient.d-inline Linguaxes
                                        .row.row-cols-1.row-cols-md-3.mb-4
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 C#
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 C
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 C++
                                        .row.row-cols-1.row-cols-md-3
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Python
                                            .col.mb-4.mb-md-0
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Java
                                            .col
                                                .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 JavaScript

        // Footer
        include includes/footer_gl.pug

        include includes/scripts.pug