// Custom utilities to extend Bootstrap's utility classes

// Background gradient utility for a primary to secondary gradient
.bg-gradient-primary-to-secondary {
    background: $primary;
    background: linear-gradient(135deg, $primary 0%, $secondary 100%);
}

// Utility for creating gradient text
// Note: When using gradient text, it is best utilized on
// text that has the position set to inline
.text-gradient {
    background: -webkit-linear-gradient(315deg, $primary 0%, $secondary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// Additional rounded border utility that uses a custom XL border radius (defined in _variables.scss)
.rounded-4 {
    border-radius: $border-radius-xl !important;
}

.no-underline {
    text-decoration: none;
    color: black;
}

.iframe-hidden {
    display: none;
}

.modal-xxl {
    max-width: 90%;
}
.custom-embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
.custom-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card {
    background-size: cover;
    background-position: center;
}

.btn-sm-custom {
    padding: 0.5rem 1rem; /* Adjust padding as necessary */
    font-size: 1rem; /* Adjust font size as necessary */
    display: block;
    margin: 0 auto;
}

.img-fluid-custom {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem; /* Adjust margin as necessary */
}

.gameContainer {
    width: 100%;
    height: 100%;
    position: absolute;
}